{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="py-12 xl:pt-12 xl:pb-0">
  <div class="container bg-white shadow-custom1 rounded-[10px] mx-auto h-full py-4 px-4 lg:py-16 lg:px-6">
    <!-- table -->
    <div class=" px-4 sm:px-6 lg:px-8 mx-auto">
      <div class="py-8 lg:pe-8">
        <div class="space-y-5 lg:space-y-8">
          <a class="inline-flex items-center gap-x-1.5 text-sm text-primary-600 decoration-2 hover:underline focus:outline-none focus:underline" href="{% url 'account:dashboard' %}">
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
            بازگشت به صفحه اصلی
          </a>
          <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden">
            <div class="overflow-x-auto">
              <h3 class="text-primary-900 font-semibold text-xl pb-12">وضعیت داوری ها</h3>
              <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                <table class="w-full text-wrap table-auto text-sm text-right text-gray-800">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
                        <tr>
                            <th scope="col" class="px-2 py-3">
                              ردیف
                            </th>
                            <th scope="col" class="px-2 py-3">
                                عنوان رساله
                            </th>
                            <th scope="col" class="px-2 py-3">
                                ارائه دهنده
                            </th>
                            <th scope="col" class="px-2 py-3">
                                تعداد داوران
                            </th>
                            <th scope="col" class="px-2 py-3">
                                داوری های ارسال شده
                            </th>
                            <th scope="col" class="px-2 py-3">
                              نام داوران
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                      {% for item in judgements %}
                      <tr class="odd:bg-white even:bg-primary-100">
                        <td class="px-2 py-4">
                          {{ forloop.counter }}
                        </td>
                        <th scope="row" class="px-2 py-4 font-medium text-gray-900 ">
                            {{ item.article.title|truncatechars:70 }}
                        </th>
                        <td class="px-2 py-4">
                          {{ item.article.user.first_name }} {{ item.article.user.last_name }}
                        </td>
                        <td class="px-2 py-4">
                          {{ item.assistant.count }}
                        </td>
                        <td class="px-2 py-4">
                          {{ item.article.quiz_set.count }}
                        </td>
                        <td class="px-2 py-4">
                          {% for obj in item.article.quiz_set.all %}
                            {{ obj.assistant.first_name }} {{ obj.assistant.last_name }}, 
                          {% endfor %}
                        </td>
                      </tr>
                      
                      {% endfor %}
                    </tbody>
                </table>
              </div>
              <nav class="flex flex-col justify-between items-start md:items-center space-y-3 md:space-y-0 p-4" aria-label="Table navigation">
                <span class="text-sm font-normal text-gray-500 dark:text-gray-400">
                    نمایش
                    <span class="font-semibold text-gray-900 dark:text-white">{{ articles.start_index }}</span>
                    تا
                    <span class="font-semibold text-gray-900 dark:text-white">{{ articles.end_index }}</span>
                </span>
                <ul class="inline-flex items-stretch -space-x-px">
                  {% if articles.has_previous %}
                  <li>
                    <a href="?page={{ articles.previous_page_number }}" class="flex items-center justify-center h-full py-1.5 px-3 leading-tight text-gray-500 bg-white rounded-r-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                        <span class="sr-only">قبلی</span>
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                  </li>
                  {% endif %}
                  {% if articles.has_previous %}
                  <li>
                      <a href="?page={{ articles.previous_page_number }}" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ articles.previous_page_number }}</a>
                  </li>
                  {% endif %}
                  <li>
                      <a href="?page={{ articles.number }}" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ articles.number }}</a>
                  </li>
                  {% if articles.has_next %}
                  <li>
                      <a href="?page={{ articles.next_page_number }}" class="flex items-center justify-center text-sm py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700">{{ articles.next_page_number }}</a>
                  </li>
                  {% endif %}                   
                  {% if articles.has_next %}
                  <li>
                    <a href="#" class="flex items-center justify-center h-full py-1.5 px-3 ml-0 text-gray-500 bg-white rounded-l-lg border border-gray-300 hover:bg-gray-100 hover:text-gray-700">
                        <span class="sr-only">بعدی</span>
                        <svg class="w-5 h-5" aria-hidden="true" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </nav>
            </div>
        </div>
        </div>
      </div>
    </div>
    <!-- table -->
    </div>
</section>

{% endblock content %}>