@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 200;
    src: url('../font/woff2/Dana-UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-UltraLight.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 300;
    src: url('../font/woff2/Dana-Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 500;
    src: url('../font/woff2/Dana-Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-Medium.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 600;
    src: url('../font/woff2/Dana-DemiBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-DemiBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 800;
    src: url('../font/woff2/Dana-ExtraBold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-ExtraBold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 900;
    src: url('../font/woff2/Dana-Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-Black.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 930;
    src: url('../font/woff2/Dana-ExtraBlack.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-ExtraBlack.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 960;
    src: url('../font/woff2/Dana-Heavy.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-Heavy.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: 990;
    src: url('../font/woff2/Dana-Fat.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-Fat.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: bold;
    src: url('../font/woff2/Dana-Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }
  @font-face {
    font-family: dana;
    font-style: normal;
    font-weight: normal;
    src: url('../font/woff2/Dana-Regular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
       url('../font/woff/Dana-Regular.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
  }

    /* @font-face {
      font-family: 'DanaRegular';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(../font/Dana-Regular.woff) format('woff');
    } */
    html, body, span {
        font-family: "dana";
      }
    button {

    }
  }

body {
  @apply text-secondary text-[17px] leading-8;
}

h1, h2, h3, h4, h5, h6 {
  @apply leading-[120%];
}

.h1 {
  @apply text-[36px] xl:text-[64px] font-semibold;
}

.h2 {
  @apply text-[30px] xl:text-[44px] font-semibold capitalize tracking-[0.44px];
}

.h3 {
  @apply text-[20px] xl:text-[26px] font-semibold;
}

.h4 {
  @apply text-[20px] xl:text-[26px] font-semibold capitalize;
}

.btn {
  @apply rounded-full uppercase tracking-[1.02px] flex items-center justify-center 
  transition-all;
}

.btn-sm {
    @apply h-14 px-10;
}

.btn-lg {
    @apply h-16 px-[50px];
}

.btn-accent {
    @apply bg-accent text-white hover:bg-accent-secondary;
}

.btn-white {
    @apply bg-white text-secondary hover:bg-white/90;
}

.btn-outline {
  @apply bg-transparent border-2 border-accent text-secondary hover:bg-accent
  hover:border-transparent hover:text-white;
}

.input,
.select {
  @apply w-full rounded-[10px] h-[66px] outline-none border border-[#dbdfdf]
  text-secondary font-light placeholder:font-light placeholder:text-secondary;
}

.input {
  @apply px-4;
}

.section {
  @apply py-12 xl:py-[150px];
}

/* swiper bullets */
.swiper-horizontal > .swiper-pagination-bullet .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply bg-accent;
}

faq__item.open .faq__answer {
  @apply h-full;
}