{% load static %}


    <!-- Swiper -->
     <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          <!-- <div class="swiper-slide"><a href={% url "blog:farakhan" %}><img src={% static "img/banner3.jpg" %}></img></a></div> -->
          <div class="swiper-slide bg-cover" style="background-image: url({% static 'img/banner2.jpg' %})">
            <div class="absolute bottom-5 bg-white object-bottom bg-opacity-60 shadow-lg w-full px-2 py-1">
                <h1 class="p-9 text-2xl text-primary-950 font-bold">فراخوان افتتاح جشنواره امیر کبیر</h1>
            </div>
          </div>
          {% for post in posts %}
            <div class="swiper-slide bg-cover" style="background-image: url({{ post.photo.url }})">
                <div class="absolute bottom-5 bg-white object-bottom bg-opacity-60 shadow-lg w-full px-2 py-1">
                    <a href={{ post.get_absolute_url }}><h1 class="p-9 text-2xl text-primary-950 font-bold">{{ post.title }}</h1></a>
                </div>
            </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
      <!-- Swiper JS -->
