{% load static %}
<section class="dark:bg-gray-900">
    <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-4">
        <h2 class="mb-8 lg:mb-16 text-3xl font-extrabold tracking-tight leading-tight text-center text-primary-950 dark:text-white md:text-4xl">حامیان</h2>
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 grid-cols-4 dark:text-gray-400">
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/ACECR_logo.png' %}" alt="">                                                               
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/logo-otagh.png' %}" alt="">                                               
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/bonyad-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/acecr_culture.png' %}" alt="">                       
            </a>
            
            
        </div>

        <div class="grid grid-cols-2 mt-6 gap-8 text-gray-500 grid-cols-8 dark:text-gray-400">
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/shahrdari-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/olom-pezeshki-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/khu_logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/azad-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/ostandari-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/shora-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/nashr-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/pardis-logo.png' %}" alt="">                                                                                   
            </a>
        </div>

        
    </div>
</section>