{% load static %}
<!-- Icon Blocks -->
 <section class="bg-white">
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
        <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-primary-950 dark:text-white">گروه های آموزشی</h2>
    </div>
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 items-center gap-6 md:gap-10">
      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5 dark:bg-neutral-900">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-primary-50 bg-primary-100 dark:border-primary-900 dark:bg-primary-800">
            <img class="size-6" src="{% static 'icons/design.svg' %}" alt="">
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">فنی و مهندسی</h3>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5 dark:bg-neutral-900">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-primary-50 bg-primary-100 dark:border-primary-900 dark:bg-primary-800">
            <img class="size-6" src="{% static 'icons/groups.svg' %}" alt="">
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">علوم انسانی</h3>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5 dark:bg-neutral-900">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-primary-50 bg-primary-100 dark:border-primary-900 dark:bg-primary-800">
            <img class="size-6" src="{% static 'icons/base.svg' %}" alt="">
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">علوم پایه</h3>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5 dark:bg-neutral-900">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-primary-50 bg-primary-100 dark:border-primary-900 dark:bg-primary-800">
            <img class="size-6" src="{% static 'icons/injection.svg' %}" alt="">
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">دامپزشکی و علوم دامی</h3>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5 dark:bg-neutral-900">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-primary-50 bg-primary-100 dark:border-primary-900 dark:bg-primary-800">
            <img class="size-6" src="{% static 'icons/dna.svg' %}" alt="">
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">علوم پزشکی</h3>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5 dark:bg-neutral-900">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-primary-50 bg-primary-100 dark:border-primary-900 dark:bg-primary-800">
            <img class="size-6" src="{% static 'icons/pallete.svg' %}" alt="">
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">هنر و معماری</h3>
          </div>
        </div>
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div class="size-full bg-white shadow-lg rounded-lg p-5 dark:bg-neutral-900">
        <div class="flex items-center gap-x-4 mb-3">
          <div class="inline-flex justify-center items-center size-[62px] rounded-full border-4 border-primary-50 bg-primary-100 dark:border-primary-900 dark:bg-primary-800">
            <img class="size-6" src="{% static 'icons/leaf.svg' %}" alt="">
          </div>
          <div class="shrink-0">
            <h3 class="block text-lg font-semibold text-gray-800 dark:text-white">کشاورزی، منابع طبیعی</h3>
          </div>
        </div>
      </div>
      <!-- End Card -->
  

    </div>
  </div>
 </section>
