{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جشنواره ملی امیرکبیر</title>

    <link rel="stylesheet" href="{% static 'css/amirkabir-ui.css' %}">

</head>

<body class="bg-green-50">
    {% include 'blog/main/_navbar.html' %}
    {% include 'blog/main/_hero.html' %}
    {% include 'blog/main/_news.html' %}
    {% include 'blog/main/_gallery.html' %}
    {% block content %}{% endblock content %}
    {% include 'blog/main/_footer.html' %}
  

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>