{% extends "blog/_base.html" %}
{% load static %}

{% block content %}


<div id="default-carousel" class="relative top-20 w-full" data-carousel="slide">
    
    <!-- Carousel wrapper -->
    <div class="h-96 overflow-hidden rounded-lg">
         <!-- Item 1 -->
        <div class="duration-700 ease-in-out" >
            <img src="{% static 'img/banner.jpg' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
    </div>




{% endblock content %}>
