{% load static %}

<!DOCTYPE html>
<html dir="rtl" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>امیر کبیر - داشبورد</title>

    <link rel="stylesheet" href="{% static 'css/amirkabir-ui.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css"/>
    <link rel="stylesheet" href="{% static 'admin/jquery.ui.datepicker.jalali/themes/base/jquery-ui.min.css' %}">
  </head>

    <body class="bg-green-100">
        {% include "account/base/_navbar.html" %}
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'blog/_footer.html' %}
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js "></script>
  <script src="https://unpkg.com/persian-date@latest/dist/persian-date.min.js"></script>
  <script src="https://unpkg.com/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>
  <script src="{% static 'admin/js/django_jalali.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      $(".example1").pDatepicker();
    });
  </script>
</body>

		
</html>
