{% load static %}
<section class="py-12 xl:pt-12 xl:pb-0">
    <div class="container mx-auto bg-white rounded-[10px] shadow-custom1 h-full py-8 px-4 lg:py-16 lg:px-6">
        <div class="flex flex-col items-center h-full pt-12 mb-12">
            <h2 class="mb-4 text-3xl lg:text-4xl -tight font-bold text-primary-950">حامیان</h2>
        </div> 
        <div class="grid grid-cols-2 gap-8 text-gray-500 sm:gap-12 grid-cols-4 dark:text-gray-400">
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/ACECR_logo.png' %}" alt="">                                                               
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/logo-otagh.png' %}" alt="">                                               
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/bonyad-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/acecr_culture.png' %}" alt="">                       
            </a>    
        </div>
        <div class="grid grid-cols-2 mt-6 gap-8 text-gray-500 grid-cols-8 dark:text-gray-400">
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/shahrdari-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/olom-pezeshki-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/khu_logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/azad-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/ostandari-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/shora-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/nashr-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/pardis-logo.png' %}" alt="">                                                                                   
            </a>
        </div>
        <div class="grid grid-cols-2 mt-6 gap-8 text-gray-500 grid-cols-8 dark:text-gray-400">
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/tejari-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/sanat-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/park-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/payam-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/razi-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/shahrak-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/barname-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/otagh-iran-logo.png' %}" alt="">                                                                                   
            </a>
        </div>
        <div class="grid grid-cols-2 mt-6 gap-8 text-gray-500 grid-cols-8 dark:text-gray-400">
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/razi-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/taavon-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/estandard-logo.png' %}" alt="">                                                                                    
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/otagh-pajohesh-logo.png' %}" alt="">                                                                                   
            </a>
            <a href="#" class="flex justify-center items-center">
                <img src="{% static 'img/jahad-keshavarzi-logo.png' %}" alt="">                                                                                   
            </a>
        </div>
    </div>
</section>