{% load static %}
<header class="bg-primary-50 py-8 lg:pt-6 lg:pb-14">
    <div class="container mx-auto lg:relative flex flex-col lg:flex-row lg:justify-between gap-y-4 lg:gap-y-8">
        <div class="flex justify-center lg:justify-normal">
            <a href={% url 'main' %}>
                <img src="{% static 'img/logo-wide.png' %}" alt="">
            </a>
        </div>
        <div class="flex flex-col gap-y-4 lg:flex-row lg:gap-x-10 lg:gap-y-0 lg:items-center">
            <!-- Location -->
            <div class="flex justify-center items-center gap-x-2 lg:justify-normal">
                <i class="ri-map-pin-2-fill text-2xl text-primary-500"></i>
                <div>استان البرز، کرج، عظیمیه، میدان مهران، نبش ندای جنوبی</div>
            </div>
            <!-- Phone -->
            <div class="flex justify-center items-center gap-x-2 lg:justify-normal">
                <i class="ri-phone-fill text-2xl text-primary-500"></i>
                <div class="text-secondary">02632521124</div>
            </div>
            <!-- btn -->
            <a href={% url 'account:login' %} class="btn btn-sm btn-outline w-[240px] lg:w-auto lg:mx-0">ورود / ثبت نام</a>
            <!-- mobile nav -->
            <nav class="mnav bg-white fixed w-[300px] top-0 -left-[300px] h-screen shadow-2xl lg:hidden transition-all duration-300 z-20">
                <!-- nav trigger btn -->
                <div class="mnav__close-btn bg-primary w-8 h-8 relative -right-full top-8
                    flex justify-center items-center rounded-tr-lg rounded-br-lg cursor-pointer transition-all">
                <i class="mnav__close-btn-icon ri-arrow-right-s-line text-2xl text-white"></i>
                </div>
                <!-- logo, list, form -->
                <div class="px-12 flex flex-col gap-y-12 h-full">
                <!-- logo -->
                <a href="#">
                    <img src={% static 'img/logo-wide.png' %} alt="">
                </a>
                <!-- list -->
                <ul class="flex flex-col gap-y-5">
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    جشنواره
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Doctors
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Department
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Servives
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Blog
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Contact
                    </a>
                </li>
                </ul>
                <!-- form -->
                <form class="relative flex gap-x-[10px]">
                    <label for="mnav-search-input">
                    <i class="ri-search-line text-2xl text-accent"></i>
                    </label>
                    <input 
                    type="text" 
                    id="mnav-search-input"
                    placeholder="Search ..."
                    class="outline-none w-[160px border-b-2 focus:border-accent placeholder:italic"
                    />
                </form>
                </div>
            </nav>
        </div>
        <!-- desktop nav -->
        <nav class="bg-white absolute w-full left-0 -bottom-[86px] shadow-custom1 h-16 rounded-[10px] hidden z-50 lg:flex lg:items-center lg:justify-between lg:px-[50px]">
            <!-- list -->
            <div>
                <ul class="flex gap-x-4">
                    <li>
                        <a 
                        href={% url 'main' %}
                        class="text-secondary hover:text-accent transition-all duration-300">
                        خانه
                        </a>
                    </li>
                    <li>
                        <button id="dropdownNavbarLink" data-dropdown-toggle="dropdownNavbar" class="flex items-center justify-between w-full py-2 px-3 text-secondary  hover:text-accent md:hover:bg-transparent md:border-0 md:hover:text-accent-secondary md:p-0 md:w-auto">
                            جشنواره          
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar" class="z-10 hidden font-normal bg-white divide-y divide-gray-100 w-44 shadow-custom1">
                            <ul class="py-2 text-sm text-secondary aria-labelledby="dropdownLargeButton">
                              <li>
                                <a href="{% url "blog:purpose" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">اهداف</a>
                              </li>
                              <li>
                                <a href="{% url "blog:executive" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">برنامه اجرایی</a>
                              </li>
                              <li>
                                <a href="{% url "blog:foundation" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">محورهای جشنواره</a>
                              </li>
                              <li>
                                <a href="{% url "blog:purpose" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">معرفی</a>
                              </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <button id="dropdownNavbarLink1" data-dropdown-toggle="dropdownNavbar1" class="flex items-center justify-between w-full py-2 px-3 text-secondary  hover:text-accent md:hover:bg-transparent md:border-0 md:hover:text-accent-secondary md:p-0 md:w-auto">
                            گروه های آموزشی          
                        </button>
                        <!-- Dropdown menu -->
                        <div id="dropdownNavbar1" class="z-20 hidden font-normal bg-white divide-y divide-gray-100 w-44 shadow-custom1">
                            <ul class="py-2 text-sm text-secondary aria-labelledby="dropdownLargeButton">
                                <li>
                                    <a href="{% url "blog:olom_ensani" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">علوم انسانی و زبان های خارجه</a>
                                  </li>
                                  <li>
                                    <a href="{% url "blog:olom_payeh" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">علوم پایه</a>
                                  </li>
                                  <li>
                                    <a href="{% url "blog:fani" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">فنی و مهندسی</a>
                                  </li>
                                  <li>
                                    <a href="{% url "blog:keshavarzi" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">کشاورزی، منابع طبیعی و محیط زیست</a>
                                  </li>
                                  <li>
                                    <a href="{% url "blog:pezeshki" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300"> علوم پزشکی </a>
                                  </li>
                                  <li>
                                    <a href="{% url "blog:dampezeshki" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">دامپزشکی و علوم دامی </a>
                                  </li>
                                <li>
                                <a href="{% url "blog:honar" %}" class="block px-4 py-2 hover:text-accent transition-all duration-300">هنر و معماری </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a 
                        href="{% url 'blog:news_list' %}"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        اخبار
                        </a>
                    </li>
                    <li>
                        <a 
                        href="#"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        حامیان
                        </a>
                    </li>
                    <li>
                        <a 
                        href="#"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        دبیرخانه جشنواره
                        </a>
                    </li>
                    </ul>
            </div>
        </nav> 
    </div>
</header>