{% load static %}



{% load static %}
<header class="bg-primary-50 py-8 lg:pt-6 lg:pb-14">
    <div class="container mx-auto lg:relative flex flex-col lg:flex-row lg:justify-between gap-y-4 lg:gap-y-8">
        <div class="flex justify-center lg:justify-normal">
            <a href={% url 'main' %}>
                <img src="{% static 'img/logo-wide.png' %}" alt="">
            </a>
        </div>
        <div class="flex flex-col gap-y-4 lg:flex-row lg:gap-x-10 lg:gap-y-0 lg:items-center">
            <!-- Location -->
            <div class="flex justify-center items-center gap-x-2 lg:justify-normal">
                <i class="ri-map-pin-2-fill text-2xl text-primary-500"></i>
                <div>استان البرز، کرج، عظیمیه، میدان مهران، نبش ندای جنوبی</div>
            </div>
            <!-- Phone -->
            <div class="flex justify-center items-center gap-x-2 lg:justify-normal">
                <i class="ri-phone-fill text-2xl text-primary-500"></i>
                <div class="text-secondary">02632521124</div>
            </div>
            <!-- btn -->
            <a href={% url 'account:logout' %} class="btn btn-sm btn-outline w-[240px] lg:w-auto lg:mx-0">خروج</a>
            <!-- mobile nav -->
            <nav class="mnav bg-white fixed w-[300px] top-0 -left-[300px] h-screen shadow-2xl lg:hidden transition-all duration-300 z-20">
                <!-- nav trigger btn -->
                <div class="mnav__close-btn bg-primary w-8 h-8 relative -right-full top-8
                    flex justify-center items-center rounded-tr-lg rounded-br-lg cursor-pointer transition-all">
                <i class="mnav__close-btn-icon ri-arrow-right-s-line text-2xl text-white"></i>
                </div>
                <!-- logo, list, form -->
                <div class="px-12 flex flex-col gap-y-12 h-full">
                <!-- logo -->
                <a href="#">
                    <img src={% static 'img/logo-wide.png' %} alt="">
                </a>
                <!-- list -->
                <ul class="flex flex-col gap-y-5">
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    جشنواره
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Doctors
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Department
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Servives
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Blog
                    </a>
                </li>
                <li>
                    <a 
                    href="#"
                    class="text-secondary hover:text-accent transition-all duration-300">
                    Contact
                    </a>
                </li>
                </ul>
                <!-- form -->
                <form class="relative flex gap-x-[10px]">
                    <label for="mnav-search-input">
                    <i class="ri-search-line text-2xl text-accent"></i>
                    </label>
                    <input 
                    type="text" 
                    id="mnav-search-input"
                    placeholder="Search ..."
                    class="outline-none w-[160px border-b-2 focus:border-accent placeholder:italic"
                    />
                </form>
                </div>
            </nav>
        </div>
        <!-- desktop nav -->
        <nav class="bg-white absolute w-full left-0 -bottom-[86px] shadow-custom1 h-16 rounded-[10px] hidden lg:flex lg:items-center lg:justify-between lg:px-[50px]">
            <!-- list -->
            <div>
                <ul class="flex gap-x-4">
                    <li>
                        <a 
                        href={% url 'account:dashboard' %}
                        class="text-secondary hover:text-accent transition-all duration-300">
                        خانه
                        </a>
                    </li>
                    <li>
                        <a 
                        href="{% url 'account:edit' %}"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        سوابق فردی
                        </a>
                    </li>
                    <li>
                        <a 
                        href="{% url 'account:education' %}"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        سوابق تحصیلی
                        </a>
                    </li>
                    <li>
                        <a 
                        href="{% url 'account:user_articles' %}"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        رساله من
                        </a>
                    </li>
                    {% if request.user.is_superuser %}
                    <li>
                        <a 
                        href="{% url 'account:article_list' %}"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        رساله های ارسال شده
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.is_superuser %}
                    <li>
                        <a 
                        href="{% url 'account:judgement_list' %}"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        ارزیابی رساله ها
                        </a>
                    </li>
                    {% endif %}
                    {% if request.user.profile.type == "سرداور" %}
                    <li>
                        <a 
                        href="{% url 'account:assistant_list' %}"
                        class="border-r pr-4 text-secondary hover:text-accent transition-all duration-300">
                        کارتابل
                        </a>
                    </li>
                    {% endif %}
                    </ul>
            </div>
        </nav> 
    </div>
</header>
